a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.SideNav {
    width: 50px;
    height: 100%;
    max-height: 100vh;
    background-color: #FFFFFF;
    color: white;
    transition: width 0.5s ease;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4;
    font-weight: 400;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1);
}

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: clip;
    height: calc(100vh - 65px);
    padding-bottom: 20px;
    /* gap: 10px; */
    transition: height 1s linear;
}

.SideNav.expanded {
    width: 200px;
}

.logo-container img {
    height: auto;
    padding: 0 10px;
    margin: 20px 0;
    object-fit: contain;
    cursor: pointer;
    height: 24px;
}

.logo-container .full-logo {
    width: 187px;
}

.logo-container .mobile-logo {
    width: 51px;
}

#sidenav .nav-link {
    /* width: 176px; */
    color: #0F3C5B;
    cursor: pointer;
    padding-inline: 6px;
    /* margin-inline: 7px; */
    white-space: nowrap;
    padding-block: 7px;
}

#sidenav .nav-link:active span,
#sidenav .nav-link:focus span,
#sidenav .nav-link:hover span {
    /* background-color: #CEDBF2; */
    font-weight: 700;
    color: #0F3C5B;
    border-radius: 4px;
    /* border-left: 4px solid #0F3C5B; */
}

.sidebar-label-wrapper svg {
    vertical-align: -7px;
}

.sidebar-label-wrapper a {
    padding: 10px 6px;
}

.sidebar-label-wrapper div {
    padding: 10px 6px;
}

.sidebar-label-wrapper a.active {
    background-color: #CEDBF2;
    border-radius: 0.2rem;
    font-weight: 700;
}

.SideNav .dropdown-content {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    font-size: 0.9rem;
    padding-left: 3.2rem;
    animation: dropdown 0.4s linear;
    /* overflow-y: hidden; */
    /* overflow-x: hidden; */
}

.SideNav .dropdown-content.open {
    display: flex;
    gap: 5px;
}

.SideNav .dropdown-content.open a {
    position: relative;
    padding-left: 10px;
}

.SideNav .dropdown-content.open a::before {
    content: '';
    position: absolute;
    width: 1px;
    background-color: #ddd;
    height: 27px;
    left: -12px;
    bottom: 10px;
}

.SideNav .dropdown-content.open a:first-of-type::before {
    height: 21px;
}

.SideNav .dropdown-content.open a::after {
    content: '';
    position: absolute;
    width: 15px;
    background-color: #ddd;
    height: 1px;
    left: -12px;
    bottom: 10px;
}


@keyframes dropdown {
    from {
        height: 0;
    }

    to {
        height: 100%;
    }
}


/* Width and color of the scrollbar track */
::-webkit-scrollbar {
    width: 4px;
    /* scrollbar-width: thin; */
    /* scrollbar-color: #f1f1f1 #888; */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* Style of the scrollbar handle */
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

/* On hover, style the scrollbar handle */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    scrollbar-color: #f1f1f1 #555;
}

.nav-link.active {
    background-color: #CEDBF2;
    border-radius: 0.2rem;
    font-weight: 700;
}

#sidenav .nav-link.main {
    padding-block: 2px;
}