
  .side-navbar {
    max-width: 50px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    margin-left: -300px;
    background-color: #FFFFFF;
    /* transition: 0.5s; */
    font-weight: 400;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; /* Make the sidebar scrollable on the Y-axis */
    max-height: 100vh;
    transition: max-width 0.2s ease-in;
  }

  .absolute-sidebar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .placeholder{
    width: 50px;
    pointer-events: none;
    z-index: -1;
    position: relative;
  }
  /* .large-img-wrapper{
    width: 200px;
  } */

  .nav {
    display: flex;
    align-items: flex-start;
    /* gap: 10px; */
    gap: 5px;
  }
  
  .my-container {
    transition: 0.4s;
  }
  
  .active-nav {
    margin-left: 0;
  }
  
  /* for main section */
  .active-cont {
    margin-left: 250px;
  }
  
  #menu-btn {
    background-color: #100901;
    color: #727986;
    margin-left: -62px;
  }
  
  .my-container input {
    border-radius: 2rem;
    padding: 2px 20px;
  }
  
/*   
  #sidebar .nav .nav-link :hover{
    background-color: #dbdbdb;
    color: #0F3C5B;
    font-weight: 700;
  } */

  #sidebar .nav-link{
    /* width: 176px; */
    color: #727986;
    cursor: pointer;
    padding-inline: 7px;
    margin-left: 7px;
  }

  .sidebar-label-wrapper{
    display: flex;
    align-items: flex-end;    
  }
  
  #sidebar .nav-link:active,
  #sidebar .nav-link:focus,
  #sidebar .nav-link:hover {
    background-color: #CEDBF2;
    font-weight: 700;
    color: #0F3C5B;
    border-radius: 4px;
    padding-inline: 7px 0px;
    /* border-left: 4px solid #0F3C5B; */
  }
  
  .company-logo img {
    width: 90%;
    height: auto;
    padding: 0 10px;
    margin: 20px 0;
  }
  .sidebar_icon{
    width: 30px;
    height: 30px;
    background-color: #0F3C5B;
  }


/* Customize the scrollbar */
.side-navbar::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
.side-navbar::-webkit-scrollbar-thumb {
  background-color: #0F3C5B;
  border-radius: 3px;
}
.side-navbar::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 3px;
}

.side-navbar.collapsed {
  width: 60px; /* Collapsed width */
}

/* Other styles remain unchanged */

.toggle-btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.toggle-btn:hover {
  background-color: #555;
}

.sidebar.collapsed {
  width: 60px;
}
.submenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #555;
  position: absolute;
  top: 0;
  left: 240px;
  width: 200px;
  display: none;
}

.nav-link:hover .submenu {
  display: block;
}

.submenu li {
  padding: 10px;
  border-bottom: 1px solid #333;
}

.submenu a {
  color: #fff;
  text-decoration: none;
}

.submenu a:hover {
  background-color: #333;
}


@media screen and (min-width: 1601px) {
  /* #sidebar .nav-link{
    width: 188px;
  } */
  .absolute-sidebar {
    max-width: 230px;
}
}