.loader-screen {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    z-index: 6;
}

.loader-screen img {
    animation: rotate 5s linear infinite;
    width: 100px;
    height: 100px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}