.page-settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customization-form {
    display: flex;
    flex-direction: column;
    /* width: 400px; */
    margin-bottom: 20px;
}


.customization-form .menu-item {
    margin-bottom: 15px;
    display: flex;
    gap: 15px;
    align-items: flex-end;
}

.customization-form .menu-item>* {
    width: 100%;
}

.customization-form .menu-item button {
    background: #f1cbcf;
    color: #FC3B3B;
    margin: 0;
    padding: 0;
    width: 36px;
    height: 36px;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customization-form input[type="checkbox"] {
    margin-right: 7px;
}

.customization-form input[type="file"] {
    margin-top: 0px;
}

.customization-form .two-column-inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 15px;
}

.customization-form .two-column-inputs label {
    width: calc(50% - 10px);
}

.live-preview {
    margin-top: 20px;
}

.save-button-container {
    margin-top: 20px;
}

.add-banner-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}