.page-settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customization-form {
    display: flex;
    flex-direction: column;
    /* width: 400px; */
    margin-bottom: 20px;
}

.customization-form label {
    margin-bottom: 10px;
}

.customization-form input[type="text"],
.customization-form input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.customization-form input[type="file"] {
    margin-top: 5px;
}

.customization-form .two-column-inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.customization-form .two-column-inputs label {
    width: calc(50% - 10px);
}

.live-preview {
    margin-top: 20px;
}

.save-button-container {
    margin-top: 20px;
}