.tracking-page-preview {
    border: 2px solid #ccc;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    min-height: auto;
    font-size: 12px;
}

.brand-logo {
    width: auto;
    height: 20px;
}

.banner-preview img {
    width: 100%;
    max-height: 110px;
}

.banner-mobile {
    display: none;
}

.menu-nav {
    background: var(--sh-primary-light);
    width: 100%;
    padding-block: 7px;
    padding-inline: 10px;
}

.footer-nav {
    background: var(--sh-primary-light);
    width: 100%;
    padding-block: 7px;
    padding-inline: 10px;
}

.menu-nav ul {
    list-style: none;
    display: flex;
    margin-inline: auto;
    justify-content: flex-start;
    margin-bottom: 0px;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-nav ul {
    list-style: none;
    display: flex;
    margin-inline: auto;
    justify-content: flex-end;
    margin-bottom: 0px;
    gap: 20px;
    flex-wrap: wrap;
}

.menu-nav ul li {
    text-transform: capitalize;
    font-weight: 600;
}

.footer-nav ul li {
    text-transform: capitalize;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .banner-desktop {
        display: none;
    }

    .banner-mobile {
        display: block;
    }
}

.tracking-info-preview {
    display: flex;
    gap: 10px;
}

.tracking-info-preview hr {
    height: 100%;
    width: 1px;
    min-height: 350px;
}

.tracking-info-preview .prview-info {
    height: 100%;
    min-height: 100%;
}

.tracking-info-preview .prview-info:first-of-type {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-inline: 20px;
    padding-top: 20px;
    gap: 16px;
}

.tracking-info-preview .prview-info:first-of-type p {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.tracking-info-preview .prview-info:last-of-type {
    width: 55%;
}