
#navTabs .alignContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.alignContent a{
    text-decoration: none;
}

.navbar-expand .navbar-nav .nav-link{
    padding: 5px 7px;
}

.navbar-expand .navbar-nav .nav-link.active{
/* background-color: #1975C9; */
background: linear-gradient(180deg, var(--sh-primary-light) 0%, var(--sh-primary-middle) 0%, var(--sh-primary) 100%);
color: #fff;
border-radius: 4px;
}