.zone-mapping-container {
    position: fixed;
    width: 50%;
    background-color: #fff;
    padding: 15px;
    z-index: 6;
    border-radius: 0.5rem;
    transform: translate(46%, -550%);
    animation: slideIn 0.6s ease;
}

@keyframes slideIn {
    from {
        transform: translate(46%, -600%);
    }

    to {
        transform: translate(46%, -550%);
    }
}

.rotate-180 {
    transform: rotate(180deg);
    display: inline-block;
}