.zone-mapping-container {
    position: fixed;
    /* top: 9%;
    left: 25%; */
    width: 50%;
    background-color: #fff;
    min-height: 500px;
    z-index: 6;
    border-radius: 0.5rem;
    /* animation: fadeIn 0.5s ease; */
    transform: translate(46%, -150%);
    animation: slideIn 0.6s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translate(46%, -165%);
    }

    to {
        transform: translate(46%, -150%);
    }
}