.tracking-header {
    width: 100%;
    background-color: #CEDBF2;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tracking-body {
    width: 100%;
    padding: 30px;
}

.tracking-header p,
.tracking-body p,
.tracking-header h4,
.tracking-body h4 {
    margin-bottom: 0;
}

.tracking-body ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: calc(100vh - 111px);
    overflow: auto;
}

.tracking-body ul li {
    display: flex;
    align-items: center;
    gap: 10px;

}

/* 
.tracking-body ul li .track-icon::after {
    po
} */

.tracking-body ul li h4 {
    font-size: 1rem;
    font-weight: 600;
}

.tracking-body ul li.active h4 {
    color: green;
    font-size: 1.5rem;
    font-weight: 400;
}

.tracking-body ul li.active .track-icon {
    margin-top: 2px;
}

.tracking-body ul li.active .track-icon svg path {
    fill: green;
}