.app {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.pool,
.sequence {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 300px;
    min-height: 400px;
    padding: 10px;
}

.courier {
    padding: 8px;
    margin: 4px;
    background-color: var(--sh-primary-light);
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.courier img {
    width: 35px;
    height: 35px;
}