.orders-menu-header ul{
    list-style: none;
    display: flex;
    margin-bottom: 0;
    padding: 0;
}

.orders-menu-header ul li{
    padding: 5px 7px;
    color: rgba(0,0,0,.55);
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

.orders-menu-header .form-select{
    width: 150px;
    color: rgba(0,0,0,.55);
    background-color: #CEDBF2;
    border-radius: 0.2rem;
    /* font-weight: 700; */
    font-size: 16px;
    padding: 5px 7px;
}