.orders-menu-header ul{
    list-style: none;
    display: flex;
    margin-bottom: 0;
    padding: 0;
}

.orders-menu-header ul li{
    padding: 5px 7px;
    color: rgba(0,0,0,.55);
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

.orders-menu-header .form-select{
    width: 320px;
    color: rgba(0,0,0,.55);
    background-color: #fff;
    border-radius: 0.2rem;
    /* font-weight: 700; */
    font-size: 16px;
    padding: 5px 7px;
    border-radius: 4px;
}

.orders-menu-header .form-select *{
    padding-block: 15px;
}

.down-sliding-select {
    position: relative;
    width: 200px;
  }
  
  .selected-option {
    padding: 5px 7px;
    border: 1px solid #9ac2e5;
    cursor: pointer;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #111;
    border-radius: 4px;
  }
  
  .options-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    z-index: 1;
    background: #fff;
  }

  .options-container.open{
    max-height: 100px;
  }
  
  .option {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 14px;
  }
  
  .option:hover {
    background-color: #f0f0f0;
  }
  
  /* .option.selected {
    background-color: #1975C9;
    color: #fff;
  } */
  
  /* .down-sliding-select:hover .options-container {
    max-height: 100px; 
  } */

  

  .all-orders td{
    background-color: #fff;
  }
  

  .Searchbox-label{
    position: relative;
  }

  .Searchbox-label .search-icon{
    position: absolute;
    top: 7px;
    left: 5px;
  }

  .Searchbox-label input{
    padding-left: 26px;
  }

  .table-row td,
  .table-row th{
    background-color: #fff;
    padding: 1rem;
    border-bottom: none;
  }

  .table-row td{
    font-size: 14px;
  }

  .table-row td:first-child,
  .table-row th:first-child{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
  .table-row td:last-child,
  .table-row th:last-child{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

 .blank-row td{
  padding: 7px;
 }

 /* tbody tr.table-row:nth-of-type(4n-3) td{
  background-color: rgb(25 117 201 / 52%);
 } */
