.od-row {
    display: flex;
    align-items: stretch;
}

.od-col {
    background: #fff;
    min-height: 100px;
    /* border: 1px solid #ddd; */
    border-radius: 0.5rem;
    padding: 10px;
    box-shadow: 8px 8px 7px rgba(0, 0, 0, 0.1) !important;
    height: 100%;
}

.od-col h6 {
    font-weight: 700;
}

.od-status-lines p {
    background-color: gainsboro;
    padding: 4px 10px;
    font-size: 12px !important;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 10px;
    /* text-transform: capitalize; */
    margin-bottom: 0;
    font-weight: 700;
}

.od-list {
    list-style: none;
    padding-left: 0;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.od-list li {
    display: flex;
    justify-content: space-between;
}

.od-list li span:first-of-type {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 35%;
}

.od-list li span:last-of-type {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 65%;
}

.od-pd-list li span:first-of-type {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
}

.od-pd-list li span:last-of-type {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
}

.product-details-sec {
    height: calc(100vh - 33rem);
    overflow-y: auto;
}

.product-details-sec .pd-total {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-details-sec .pd-total p {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.product-details-sec .pd-total p span:first-of-type {
    flex-basis: 80%;
}

.product-details-sec .pd-total p span:last-of-type {
    flex-basis: 20%;
}