.add-warehouse-section {
    height: calc(100vh - 175px);
    overflow-y: scroll;
}

.add-warehouse-section label {
    width: 100%;
}
.error{
    color: red;
}
.input-field-error{
    border: 1px solid red;
}
.edit-warehouse-section{
    height: 100vh;
    overflow-y: scroll;
}