.input-field-error {
    border: 1px solid red !important;
}

.custom-error,
.mandatory {
    font-size: 12px;
    color: #dc3545 !important;
}

.create-order-flow-container span.unit.pd-lbh {
    right: 0.8125rem;
    bottom: 1px;
}