.verified-customer .header-section {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 40px;
    font-size: 1.4rem;
    width: 100%;
    justify-content: space-between;
}

.verified-customer .shipease-logo {
    position: relative;
}

/* .verified-customer .header-section .shipease-logo,*/
.verified-customer .header-section .company-logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.verified-customer .header-section img,
.verified-customer .header-section img {
    height: 80px;
    width: auto;
    max-width: 80px;
}

.verified-customer .header-section hr {
    width: 25px;
    height: 1px;
    border: none;
    background: #fff;
    border-bottom: 2px dashed var(--sh-primary-middle);
}

.verified-customer .details-title {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.verified-customer .follow-details {
    display: grid;
    column-gap: 100px;
    flex-wrap: wrap;
    row-gap: 40px;
    grid-template-columns: auto auto auto auto;
    background: #eff6fb;
    padding: 20px;
    border-radius: 10px;
}

.verified-customer .detail-label {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    color: #696969;
}

.verified-customer .detail-label span {
    color: #000;
    font-size: 1rem;
    /* white-space: nowrap; */
}

.verified-customer .follow-details a {
    text-decoration: none;
    background: #fff;
    padding: 5px 10px;
    border: 1px solid var(--sh-primary-middle);
    border-radius: 0.5rem;
    width: fit-content;
    font-size: 0.9rem;
    color: #696969;
}


.details-container hr {
    margin-block: 40px;
}