.verified-customer .header-section {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 40px;
    font-size: 1.4rem;
    width: 100%;
    justify-content: space-between;
}

.verified-customer .shipease-logo {
    position: relative;
}

/* .verified-customer .header-section .shipease-logo,*/
.verified-customer .header-section .company-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.verified-customer .header-section img,
.verified-customer .header-section img {
    width: 40px;
    height: 40px;
}

.verified-customer .header-section hr {
    width: 25px;
    height: 1px;
    border: none;
    background: #fff;
    border-bottom: 2px dashed var(--sh-primary-middle);
}

.verified-customer .details-title {
    font-size: 1.2rem;
}

.verified-customer .follow-details {
    display: flex;
    column-gap: 100px;
    flex-wrap: wrap;
    row-gap: 40px;
}

.verified-customer .detail-label {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    color: #696969;
}

.verified-customer .detail-label span {
    color: #000;
    font-size: 1rem;
    white-space: nowrap;
}

.details-container hr {
    margin-block: 40px;
}