.wallet-container {
    position: fixed;
    top: -50em;
    right: -40em;
    width: fit-content;
    height: auto;
    z-index: 6;
    transition: 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wallet-container.show {
    top: 2%;
    right: 2%;
}

.wallet-box {
    width: 500px;
    height: auto;
    background: var(--sh-primary-light);
    position: relative;
    border-radius: 0.5rem;
}

.wallet-container .close-button {
    text-align: end;
    font-size: 1.5rem;
    position: absolute;
    right: 0px;
    top: 0px;
}

.wallet-container .close-button:active {
    color: #fff;
}

.wallet-container .wallet-inner-bg {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 0.5rem;
    height: calc(100% - 20px);
}

.balance-container {
    width: 100%;
    margin-inline: auto;
    height: 128px;
    background-color: var(--sh-primary-middle);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding-top: 10px;
    position: relative;
    border-radius: 0.5rem;
    margin-bottom: 1.2rem;
}

.available-balance {
    position: absolute;
    height: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    border-radius: 0.5rem 0.5rem 0 0;
    bottom: 0px;
    background-color: #fff;
    /* background-color: red; */
    color: var(--sh-primary);
}

.available-balance a {
    text-decoration: underline;
}