.support-page {
    min-height: calc(100vh - 130px);
}

.support-page .action-options{
    width: fit-content;
}

.support-page .action-options:hover .action-list{
    width: 110px;
    border-radius: 4px;
}

.support-nav {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    justify-content: space-between;
    width: 100%;
}

.support-left-section {
    display: flex;
    width: -webkit-fill-available;
    position: relative;
}

.support-left-section::after {
    background-color: #ddd;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0px;
    content: '';
    z-index: 1;
}

.support-left-section div {
    padding: 5px 10px;
    border: 2px solid transparent;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
}

.support-left-section div.active {
    background-color: #fff;
    border-left: 2px solid var(--sh-primary);
    border-top: 2px solid var(--sh-primary);
    border-right: 2px solid var(--sh-primary);
    border-bottom: 2px solid #fff;
    z-index: 2;
}

.support-right-section {
    display: flex;
    gap: 15px;
    align-items: center;
}

.support-choice-card {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid var(--sh-primary);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 var(--sh-primary);
}

.support-choice-card.active {
    color: white;
    box-shadow: inset 0 -100px 0 0 var(--sh-primary);
}

.support-choice-card:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 var(--sh-primary);
}

.support-choice-card:active {
    transform: scale(0.9);
}

.support-right-section .search-container {
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: relative;
    color: #111;
    width: 350px;
}

.support-right-section .search-container label {
    font-size: 14px;
    padding-left: 30px;
    position: absolute;
    top: 8px;
    transition: 0.3s;
    pointer-events: none;
}

.support-right-section .search-container input {
    height: 36px;
    padding-left: 30px;
}

.support-right-section .search-container input:focus~label {
    transition: 0.3s;
    padding-left: 2px;
    transform: translateY(-28px);
}

.ticket-slider {
    position: fixed;
    top: 0;
    right: -70em;
    transition: 1s;
    height: 100vh;
    width: 40em;
    background-color: #fff;
    z-index: 6;
}

.ticket-slider.open {
    right: 0;
}

table {
    margin-top: 20px;
    width: 100%;
}

table tr td {
    padding-block: 10px;
}

.ticket-filter-inputs hr {
    margin-block: 0 1rem;
}

.ticket-filter-inputs {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-inline: 15px;
}

.ticket-filter-inputs .css-1nmdiq5-menu{
    z-index: 2;
}

.ticket-filter-inputs .css-13cymwt-control {
    height: 30px;
    border: 1px solid var(--sh-primary-middle);
    /* background-color: var(--sh-primary-light); */
    min-width: 100%;
    padding-left: 10px;
    border-radius: 4px;
}

.ticket-slider-header{
    padding: 30px;
    background-color: var(--sh-primary-light);
}

.ticket-slider-body{
    padding: 30px;
}

.ticket-form-row{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 5px;
}

.ticket-form-btn{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.text-field{
    min-height: 100px;
}

.choose-file-container{
    padding-left: 0;
}


.help-button{
    position: absolute;
    right: 0px;
    top: 10px;
    color: #fff;
    background-color: #3BB54B;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 50px 0 0 50px;
    display:flex;
    align-items: center;
  }

  .help-button p{
    line-height: 1px;
  }

  .Tickets-table tr th:last-of-type{
    width: 12%;
  }