.support-page {
    min-height: calc(100vh - 130px);
}

.support-choice-card {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--sh-primary);
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid var(--sh-primary);
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 var(--sh-primary);
}

.support-choice-card.active {
    color: white;
    box-shadow: inset 0 -100px 0 0 var(--sh-primary);
}

.support-choice-card:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 var(--sh-primary);
}

.support-choice-card:active {
    transform: scale(0.9);
}

.search-container {
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: relative;
    color: #111;
}

.search-container label {
    font-size: 14px;
    padding-left: 10px;
    position: absolute;
    top: 5px;
    transition: 0.3s;
    pointer-events: none;
}

.search-container input:focus ~ label {
  transition: 0.3s;
  padding-left: 2px;
  transform: translateY(-28px);
}