.edit-order-section {
    position: fixed;
    height: 100vh;
    background-color: #fff;
    top: 0;
    right: -50em;
    z-index: 6;
    transition: 1s;
    width: 40em;
}



.edit-order-section.open-edit {
    right: 0;
}