.dx-datagrid .dx-header-filter-empty{
    color: #0F3C5B;
    font-size: 12px;
}

.dx-datagrid-text-content.dx-text-content-alignment-left.dx-header-filter-indicator{
    font-weight: 500;
    color: #0F3C5B;
}

.dx-datagrid-rowsview .dx-row:nth-of-type(odd){
    background-color: #f2f2f2;
}