.customer-details-container {
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: var(--bs-box-shadow-sm) !important;
    padding: 30px 15px;
    min-height: calc(100vh - 200px);    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.customer-details-form .details-form-row {
    padding-inline: 15px;
    align-items: center;
}

.customer-details-form label {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* .customer-details-form label input,
.customer-details-form label select {
    margin-top: 5px;
    width: 400px;
    min-width: 400px;
} */

.customer-details-form input[type="file"] {
    padding-left: 0;
}

.customer-details-form hr {
    border: 0;
    height: 1px;
    width: 100%;
    position: relative;
    margin: 1.875rem auto;
    background: var(--sh-primary);
}

.logo-file-upload {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 120px;
    border-radius: 4px;
    border: 1px dashed #383838;
}

.logo-file-upload input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.logo-file-upload .upload-logo-input {
    position: absolute;
    padding: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eye-button {
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 1px;
    right: 4px;
}

.pdf-preview-section {
    position: fixed;
    top: 15%;
    left: 15%;
    z-index: 6;
    width: 70%;
    height: 70%;
}