.customer-details-container {
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: var(--bs-box-shadow-sm) !important;
    padding: 30px 15px;
    min-height: calc(100vh - 200px);
}


.customer-details-form .details-form-row{
    padding-inline: 15px;
}

.customer-details-form label{
    display: flex;
    flex-direction: column;
}

.customer-details-form label input,
.customer-details-form label select {
    margin-top: 5px;
    width: 400px;
    min-width: 400px;
}

.customer-details-form input[type="file"] {
    padding-left: 0;
}

.customer-details-form hr {
    border: 0;
    height: 1px;
    width: 100%;
    position: relative;
    margin: 30px auto;
    background: var(--sh-primary);
}