/* .integration-container {
    padding: 15px;
} */


/* CardGrid.css */

.card-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

/* .card:hover {
    transform: scale(1.05);
} */

.card:hover .card-img-container {
    flex-basis: 50%;
}

.card .card-img-container img {
    transition: 1s;
}

.card:hover .card-img-container img {
    transform: rotate(360deg);
}

.card-img-container {
    flex-basis: 10%;
    position: relative;
    height: 100%;
    transition: flex-basis 0.5s;
}

.card-img-container.Shopify {
    /* border-right: 1px solid #96BF48; */
    background-color: rgb(150 191 72 / 25%);
}

.card-img-container.WooCommerce {
    background-color: #E4DBEF;
    border-right: 1px solid #E4DBEF;
}

.card-img-container.Magento {
    /* border-right: 1px solid #f37b20; */
    background-color: #fcb283;
}

.card-img-container.StoreHippo {
    /* border-right: 1px solid #7fb53c; */
    background-color: #cae1af;
}

.card-img-container.Amazon {
    /* border-right: 1px solid #F8991D; */
    background-color: #FDDEB5;
}

.card-img-container.Flipkart {
    /* border-right: 1px solid #F8991D; */
    background-color: #f6dd91;
}


.card-img-container.Opencart {
    background-color: #b0e9fa;
}

.card-img-container.Manual {
    background-color: var(--sh-primary-light);
}

.card-img-container.EasyShip {
    background-color: #bce5ea;
    /* background-color: #8CD3DB; */
}

.card-img-container.WhatsApp {
    background-color: #cdf5dc;
    /* background-color: #8CD3DB; */
}

.card-img-container.IVR {
    background-color: #e0ecf8;
    /* background-color: #8CD3DB; */
}

.card-img-container.Pragma {
    background-color: #acc8f9;
    /* background-color: #8CD3DB; */
}

.card-img-container img {
    position: absolute;
    right: -18px;
    top: 21%;
}

.card-content {
    padding: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 0px;
    white-space: nowrap;
}

.card-description {
    font-size: 1rem;
    color: #555;
}

/* integration form */

.int-header {
    background-color: #e8f1d7;
    width: 100%;
    display: flex;
    border-radius: 0.5rem;
    justify-content: space-between;
    overflow: hidden;
}

.woo .int-header {
    background-color: #e4dbef;
}

.magento .int-header {
    background-color: #fef0e6;
}

.amazon .int-header {
    background-color: #fddeb5;
}

.hippo .int-header {
    background-color: #c0d4d2;
}

.easyship .int-header {
    background-color: #bce5ea;
}

.clickpost .int-header {
    background-color: #c4cad0;
}

.easycom .int-header {
    background-color: #a2d3bb;
}

.omsguru .int-header {
    background-color: #b5d2e9;
}

.vineretail .int-header {
    background-color: #ead2da;
}

.unicommerce .int-header {
    background-color: #c7daf7;
}

.whatsapp .int-header {
    background-color: #cdf5dc;
}

/* .int-form {
    width: 60%;
    margin-inline: auto;
    margin-block: 2rem;
} */

.int-form label {
    width: 100%;
}

.int-header-left {
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.int-header-left img {
    width: 4rem;
}

.int-header-right {
    position: relative;
    padding: 15px;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 600;
}

.int-header-right p {
    z-index: 2;
}

.int-header-right:after {
    content: '';
    position: absolute;
    width: 150px;
    height: 250px;
    top: -83px;
    left: 1px;
    background-color: #95BF47;
    transform: rotate(-45deg);
    z-index: 1;
    border-radius: 0.5rem;
}

.woo .int-header-right:after {
    background-color: #7f54b3;
}

.magento .int-header-right:after {
    background-color: #f36306;
}

.amazon .int-header-right:after {
    background-color: #F8991D;
}

.hippo .int-header-right:after {
    background-color: #7ab434;
}

.easyship .int-header-right:after {
    background-color: #8CD3DB;
}

.unicommerce .int-header-right:after {
    background-color: #4786ed;
}

.easycom .int-header-right:after {
    background-color: #1f9e47;
}

.omsguru .int-header-right:after {
    background-color: #0e76bc;
}

.clickpost .int-header-right:after {
    background-color: #414141;
}

.vineretail .int-header-right:after {
    background-color: #f47374;
}

.whatsapp .int-header-right:after {
    background-color: #25d366;
}

.int-body {
    display: flex;
    margin-block: 1rem;
    gap: 1rem;
}

.int-body>section {
    width: 50%;
    padding: 1rem;
}

.int-checkbox {
    display: flex;
    flex-direction: column;
}

.int-checkbox label {
    width: fit-content;
    display: flex;
    gap: 10px;
    align-items: center;
}

.int-checkbox label input {
    min-width: unset;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    list-style: none;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #d3e5b3;
    top: 11px;
    bottom: 0;
    left: 28px;
    margin-left: -3px;
    height: 84%;
}

.magento .timeline::after {
    background-color: #fdd1b4;
    height: 94%;
}

.amazon .timeline::after {
    background-color: #fddeb5;
}

.hippo .timeline::after {
    background-color: #c0d4d2;
}

.woo .timeline::after {
    background-color: #E4DBEF;
    height: 88%;
}

.easyship .timeline::after {
    background-color: #bce5ea;
    height: 94%;
}

.unicommerce .timeline::after {
    background-color: #c7daf7;
    height: 77%;
}

.easycom .timeline::after {
    background-color: #a2d3bb;
}

.omsguru .timeline::after {
    background-color: #b5d2e9;
    height: 88%;
}

.clickpost .timeline::after {
    background-color: #c4cad0;
}

.vineretail .timeline::after {
    background-color: #ead2da;
    height: 90%;
}

.whatsapp .timeline::after {
    background-color: #ead2da;
    height: 90%;
}

.timeline-list {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 100%;
}

.timeline-list:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: -1rem;
    background-color: white;
    border: 4px solid #95bf47;
    top: 9px;
    border-radius: 50%;
    z-index: 1;
}

.magento .timeline-list:after {
    border: 4px solid #f36306;
}

.amazon .timeline-list:after {
    border: 4px solid #F8991D;
}

.hippo .timeline-list:after {
    border: 4px solid #7ab434;
}

.woo .timeline-list:after {
    border: 4px solid #7f54b3;
}

.easyship .timeline-list:after {
    border: 4px solid #8CD3DB;
}

.unicommerce .timeline-list:after {
    border: 4px solid #4786ed;
}

.easycom .timeline-list:after {
    border: 4px solid #1f9e47;
}

.omsguru .timeline-list:after {
    border: 4px solid #0e76bc;
}

.clickpost .timeline-list:after {
    border: 4px solid #414141;
}

.vineretail .timeline-list:after {
    border: 4px solid #f47374;
}

.whatsapp .timeline-list:after {
    border: 4px solid #f47374;
}