.nodata-box {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.nodata-box img {
    width: 100%;
    height: auto;
    max-width: 18rem;
}