.stepper-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.progress-container {
    width: 80%;
    margin-bottom: 20px;
}

/* Style the progress bar */
progress {
    width: 100%;
}


.stepper-line {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.step-marker span {
    border: 1px solid;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.step-marker span.completed {
    background: linear-gradient(white, white) padding-box,
        linear-gradient(to right, var(--sh-primary), var(--sh-primary-light)) border-box;
    border-radius: 50em;
    border: 2px solid transparent
}

.step-marker.completed {
    background-color: #4caf50;
    /* Green color for completed steps */
}

/* Add responsiveness for smaller screens */
@media (max-width: 600px) {
    .stepper-form-container {
        padding: 20px;
    }
}