.stepper-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.steps-header {
    position: relative;
}

.progress-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}


/* Style the progress bar */
/* progress {
    width: 100%;
} */

.progress-bar {
    background-color: var(--sh-primary);
    height: 4px;
}


.stepper-line {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.step-marker span {
    border: 1px solid;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.step-marker span.completed {
    background: linear-gradient(white, white) padding-box,
        linear-gradient(to right, var(--sh-primary), var(--sh-primary-light)) border-box;
    border-radius: 50em;
    border: 2px solid transparent
}

.inputs-container {
    width: 50%;
    transition: 0.5s;
}

.inputs-container label {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /* width: fit-content;
    max-width: fit-content; */
}

.inputs-container .toggle-label {
    max-width: unset;
}

.toggle-switch label {
    position: relative;
    display: inline-block;
    width: 47px;
    height: 23px;
    max-width: unset;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--sh-primary-light);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.toggle-switch input:checked+.slider {
    background-color: var(--sh-primary);
}

.toggle-switch input:focus+.slider {
    box-shadow: 0 0 1px var(--sh-primary);
}

.toggle-switch input:checked+.slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}

.warehouse-options label {
    flex-direction: row;
    gap: 10px;
}

.warehouse-options input {
    margin-top: 6px;
}

.form-box-h {
    height: calc(100vh - 262px);
    overflow-y: scroll;
}

.form-box-h hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    color: var(--sh-primary);
    overflow: visible;
    text-align: center;
    height: 5px;
    margin-block: 45px 30px;
}

hr::after {
    background: #fff;
    content: 'ยง';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

.react-datepicker-wrapper {
    width: 100%;
}


.mobile-number-field {
    position: relative;
}

.mobile-number-field select.input-field {
    width: 70px;
    min-width: 70px;
    border-radius: 4px 0 0 4px;
    border: none;
    position: absolute;
    background-color: transparent;
}

.mobile-number-field input.input-field {
    border-radius: 0 4px 4px 0;
    padding-left: 80px;
}

/* Add responsiveness for smaller screens */
@media (max-width: 600px) {
    .stepper-form-container {
        padding: 20px;
    }
}