.bulk-action-container {
    position: absolute;
    width: 80%;
    background-color: #fff;
    height: auto;
    bottom: 64px;
    left: 10%;
    display: flex;
    align-items: center;
    box-shadow: 0 0 18px 10px rgba(0, 0, 0, 0.1) !important;
    border-radius: 0.5rem;
}

.ba-rows-selected {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 16px;
    background: var(--sh-primary-light);
    color: var(--sh-primary);
}

.ba-actions {
    display: flex;
    gap: 47px;
    padding: 20px 16px;
    width: 80%;
    justify-content: flex-end;
}