.card-upper{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.left-text{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.wave-bg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.red-wave{
    background-image: url(../../../../../assets/image/waves/RedWave.png);
}

.yellow-wave{
    background-image: url(../../../../../assets/image/waves/YellowWave.png);
}

.green-wave{
    background-image: url(../../../../../assets/image/waves/GreenWave.png);
}

.blue-wave{
    background-image: url(../../../../../assets/image/waves/BlueWave.png);
}

.CardIconContainer {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.9rem;
}

.green-wave .icon-bg{
    background-color: #3BB54B;
}

.yellow-wave .icon-bg{
    background-color: #F6B954;
}

.blue-wave .icon-bg{
    background-color: #A278FD;
}

.red-wave .icon-bg{
    background-color: #F31429;
}

.green-wave .trending-icon path{
    fill: #3BB54B;
}

.yellow-wave .trending-icon{
    fill: #F6B954;
}

.blue-wave .trending-icon{
    fill: #A278FD;
}

.red-wave .trending-icon{
    fill: #F31429;
}

.trending-icon{
    height: 24px;
    width: 24px;
}
