.signup-section {
  position: fixed;
  background-image: url(../../../assets/image/loginBg.png);
  background-repeat: repeat-y;
  background-size: contain;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
}

.signup-section .signup {
  height: 100vh;
}

.signup-section .left-side {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.signup-section .signup .content {
  padding: 40px 50px;
  min-width: 610px;
  min-height: 62vh;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  border: 1px solid #d3d3d3;
  border-radius: 20px;
  margin-right: 80px;
  background-color: #fff;
}


.signup-section .signup .content h2 {
  font-size: 2em;
  color: var(--sh-primary);
  text-transform: uppercase;
}

.signup-section .signup .content .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.signup-section .signup .content .form .inputBox {
  position: relative;
  width: 100%;
}

.signup-section .signup .content .form .inputBox input {
  position: relative;
  width: 100%;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1em;
}

.signup-section .signup .content .form .inputBox i {
  position: absolute;
  left: 0;
  padding: 6px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}

.signup-section .signup .content .form .inputBox input:focus~i,
.signup-section .signup .content .form .inputBox input:valid~i {
  transform: translateY(-1rem);
  font-size: 0.8em;
  color: transparent;
  user-select: none;
}

.signup-section .signup .content .form .links {
  position: relative;
  width: 100%;
  display: flex;
  font-size: 0.8rem;
}

.signup-section .signup .content .form .links button {
  font-size: 0.8rem;
}

.signup-section .signup .content .form .links a {
  /* color: var(--sh-primary); */
  text-decoration: none;
}

.signup-section .signup .signup-text button {
  color: var(--sh-primary);
}

.signup-section .signup .user-role-select {
  display: flex;
  gap: 10px;
}

.signup-section .signup .user-role-select label {
  width: auto;
  border: 1px solid var(--sh-primary-light);
  border-radius: 0.5rem;
  padding: 10px;
  display: flex;
  gap: 10px;
}

.signup-section .signup .user-role-select label input {
  accent-color: var(--sh-primary);
}