.signup-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
    position: relative; 
  }
  
  .label {
    display: block;
    font-weight: bold;
  }
  
  .form-group>input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .error-message {
    color: #ff0000;
    font-size: 12px;
    position: absolute; 
    bottom: -20px; 
    left: 0;
  }

  .login-btn{
    color: #0056b3;
    font-weight: 700;
  }
  
  .submit-button {
    background-color: #620888;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }