table.dataTable.display>tbody>tr.odd>.sorting_1,
table.dataTable.order-column.stripe>tbody>tr.odd>.sorting_1,
table.dataTable.display>tbody>tr.even>.sorting_1,
table.dataTable.order-column.stripe>tbody>tr.even>.sorting_1,
table.dataTable.hover>tbody>tr:hover>*,
table.dataTable.display>tbody>tr:hover>*,
table.dataTable.stripe>tbody>tr.odd>*,
table.dataTable.display>tbody>tr.odd>* {
    box-shadow: none;
}

.dataTables_length{
    display: none;
}

.dataTables_wrapper .dataTables_filter{
    float: left;
}