html {
  font-size: 16px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rightContainer {
  display: flex;
  margin-block: 20px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  margin-inline: 72px 10px;
  height: 93vh;
  width: calc(100vw - 92px) !important;
}

.wallet-container {
  position: fixed;
  top: -50em;
  right: -40em;
  width: fit-content;
  height: auto;
  z-index: 6;
  transition: 0.7s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wallet-container.show {
  top: 2%;
  right: 2%;
}

.wallet-box {
  width: 500px;
  height: auto;
  background: var(--sh-primary-light);
  position: relative;
  border-radius: 0.5rem;
}

.wallet-container .close-button {
  text-align: end;
  font-size: 1.5rem;
  position: absolute;
  right: 0px;
  top: 0px;
}

.wallet-container .close-button:active {
  color: #fff;
}

.wallet-container .wallet-inner-bg {
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  border-radius: 0.5rem;
  height: calc(100% - 20px);
}

@media screen and (min-width: 1601px) {
  .rightContainer {
    margin-inline: 72px 10px;
  }
}


@media screen and (max-width: 1600px) {
  html {
    font-size: 14px;
  }
}