@media screen and (max-width:1240px) {
    .ship-container-row {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:1187px) {

    .orders-section-tabs .table-container::-webkit-scrollbar {
        height: 2px;
    }

    .orders-section-tabs .table-container {
        height: calc(100vh - 330px);
    }

    .cell-inside-box p {
        white-space: nowrap;
    }

}

@media screen and (max-width:1140px) {

    .status-container-item .status-item {
        flex-wrap: wrap;
        gap: 10px;
    }

    .status-container-item .status-item .status-counter {
        margin-inline: 20px;
    }

}

@media screen and (max-width:1095px) {
    #navTabs .alignContent {
        gap: 8px;
    }
}

@media screen and (max-width:993px) {}


@media screen and (max-width:991px) {

    /* #shipEaseNavTabs {
        display: none;
    } */

    #shipEaseNavbarNav {
        width: calc(100vw - 20px) !important;
    }

    .SideNav {
        left: -50px;
    }

    .SideNav.expanded {
        z-index: 6;
        left: 0;
    }

    .sidenav-toggle-icon {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .sidenav-toggle-icon button {
        border: none;
        background: transparent;
        padding: 0;
        margin: 0;
    }

    .rightContainer {
        margin-inline: 10px;
        width: calc(100vw - 20px) !important;
    }

    .cardsSpace {
        margin-bottom: 20px;
        padding-inline: 0;
    }

    .cardsSpace:first-of-type {
        order: 2;
    }

    .cardsSpace:last-of-type {
        order: 3;
    }

    #shipEaseNavTabs .nav-item {
        border: 1px solid var(--sh-primary-middle);
        padding: 5px 10px;
        border-radius: 0.5rem;
        width: 150px;
    }

    #shipEaseNavTabs .nav-item .dropdown-toggle {
        position: relative;
    }

    #shipEaseNavTabs .nav-item .dropdown-toggle::after {
        position: absolute;
        right: 0;
        top: 10px;
    }

    #shipEaseNavTabs .dropdown-menu {
        top: 51px;
        left: 14px;
    }

    .m-inline-1 {
        margin-inline: 1px;
    }

    .last-thirty-table {
        overflow-x: auto;
    }

    .last-thirty-table::-webkit-scrollbar {
        height: 3px;
    }

    .search-container,
    .search-container label {
        width: fit-content;
    }

    .pagination-container {
        flex-direction: column;
    }

    .pagination-container .pagination {
        gap: 5px;
    }

    .pagination-container .pagination p {
        white-space: nowrap;
    }

    .pagination-container .items-per-page-dropdown select,
    .pagination-container .go-to-page input {
        width: 62px;
    }

    .orders-section-tabs .table-container {
        height: calc(100vh - 333px);
    }

    .ship-container-row .img-container {
        box-shadow: none;
    }

    .bulk-action-container {
        box-shadow: 0 0 18px 10px rgba(0, 0, 0, 0.1) !important;
        width: 100%;
    }

    .ba-inner-container {
        flex-direction: column;
    }

    .ba-actions {
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
        gap: unset;
        padding-inline: 0px;
        margin-block: 10px;
        row-gap: 10px;
        justify-content: space-around;
    }

    .ba-actions.All {
        grid-template-columns: repeat(4, 1fr);
    }

    .ba-actions.Returns {
        grid-template-columns: repeat(2, 1fr);
    }

    .ba-rows-selected {
        padding-block: 3px;
        width: 100%;
        border-radius: 0.5rem 0.5rem 0 0;
    }

    .ba-actions li::after {
        display: none;
    }

    .ba-popup-container .ba-pop-show.open {
        max-width: 320px;
    }

    .ba-pop-show.weight-update.open {
        width: 80%;
        max-width: unset;
    }

    .ba-actions li {
        flex: 1 1;
    }
}

@media screen and (max-width:767px) {

    .signup-section .signup,
    .login-section .login {
        overflow-y: auto;
    }

    .signup-section .right-side,
    .login-section .right-side {
        background: url('./assets/image/bg_login.png');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-block: 20px 200px;
    }

    .signup-section .left-side,
    .login-section .left-side {
        display: none;
    }

    .signup-section .signup .content,
    .login-section .signin .content {
        margin-inline: 0;
        max-width: 95%;
        min-width: 95%;
    }

    .signup-section .signup .signup-logo-container::before,
    .signup-section .signup .signup-logo-container img,
    .login-section .signin .login-logo-container::before,
    .login-section .signin .login-logo-container img {
        display: none;
    }

    .signup-section .signup .content img,
    .login-section .signin .content img {
        display: block;
    }


    .signup-section .signup .content {
        padding-inline: 20px;
        margin-bottom: 20px;
    }

    .signup-section .signup .signup-with-social {
        flex-direction: column;
    }

    .ba-pop-show.weight-update.open {
        width: 95%;
    }

    .weight-update .pop-content .lbh-labels .unit {
        width: 29px;
    }
}

@media screen and (max-width:543px) {

    .single-ship-container {
        top: 4%;
        height: 92vh;
        width: 90vw;
    }

    .single-ship-container.open {
        right: 4%;
    }

    .ship-container-row .ship-ratings {
        flex-direction: column-reverse;
        width: 100%;
        flex-wrap: wrap;
    }

    .rating label {
        font-size: 20px;
    }

    .ship-container-row {
        gap: 10px;
        padding-top: 21px;
        justify-content: end;
    }

    .ship-container-row p {
        font-size: 12px;
    }

    .ss-shipment-charges p {
        text-align: end;
    }

    .weight-update .pop-content .lbh-labels {
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 0;
    }

    .weight-update .pop-content label {
        max-width: 130px;
    }

    .ba-actions {
        display: grid;
    }
}

@media screen and (max-width:472px) {
    .orders-section-tabs .table-container {
        height: calc(100vh - 348px);
    }

    .pagination-container .go-to-page input {
        width: 30px;
        padding-left: 5px;
    }

    .pagination-container .go-to-page button {
        width: 30px;
    }

    .search-container label input {
        max-width: 320px;
    }
}

@media screen and (max-width:375px) {
    .orders-section-tabs .table-container {
        height: calc(100vh - 348px);
    }

    .search-container label input {
        max-width: 311px;
    }

    .ba-pop-show .pop-heading {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding-block: 10px;
    }
}